/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main CSS */
/* General */
a {
  text-decoration: none;
}

p {
  font-family: "Pridi", serif;
}

nav,
#duration,
#duration p,
#btnRegister,
#bottom-line,
#description h1,
#description h2 {
  font-family: "Prompt", sans-serif;
}

footer,
main,
nav,
#bottom-line {
  margin: 0 auto;
  padding: 0 15rem;
}

footer,
nav,
#sponser-banner,
#sponser-logo,
#bottom-line {
  display: flex;
  justify-content: space-around;
}

footer h3,
#description h1,
#duration h1 {
  color: #e6332a;
}

.mobile {
  display: none;
}

/* Navigation bar */
nav {
  align-items: center;
  justify-content: space-around;
  background: white;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
  height: 3vh;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav ul {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

nav ul li {
  color: black;
  flex: 1;
  text-align: center;
}

nav ul li a {
  color: black;

  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

nav ul li a:hover {
  color: #213a8f;
}

nav ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #213a8f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

/* Main content */
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Hero section */
#logo-box {
  position: absolute;
  top: 240px;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#logo-box > img {
  vertical-align: middle;
}

#hero-background {
  display: flex;
  width: 100%;
}

#hero-background img {
  height: 30rem;
  flex: 1;
  object-fit: cover;
}

/* Duration */
#duration {
  text-align: center;
}

#duration h1 {
  font-size: 3rem;
  font-weight: bold;
}

#duration p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Register button */
#register {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#register > hr {
  position: relative;
  border-top: 1px solid #fafafa;
  top: -2rem;
  z-index: -1;
}

#btnRegister {
  border: none;
  background: #213a8f;
  color: white;
  height: 30%;
  padding: 1rem 3rem;
  position: relative;
  margin: 0 auto;
  width: 60%;
  min-width: 40rem;
  font-size: 1.25rem;
}

#btnRegister:hover {
  background: #fbbc33;
  transition: 0.3s;
}

/* Description */
#description {
  padding: 0 5rem;
}

#description h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 1.5;
}

#detail,
#condition {
  font-size: 1.1rem;
  line-height: 1.5;
}

#description h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#condition {
  margin-bottom: 5rem;
}

/* Sponser */
#sponser-banner img,
#sponser-logo img {
  max-width: 100%;
}

#sponser-logo a {
  text-align: center;
}

#sponser-logo > a > img {
  margin: 0 auto;
  width: 50%;
}

#sponser-logo img {
  transition: all 0.3s ease-in-out;
}

#sponser-logo img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}

/* Footer */
footer {
  background: #fafafa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer h3 {
  font-family: "Pridi", serif;
}

footer a {
  color: black;
}

footer #footer-logo {
  text-align: right;
}

footer img {
  vertical-align: middle;
  height: 10rem;
}

footer > div {
  flex: 1;
  margin-right: 2rem;
  padding: 1rem;
}

footer > div > h3 {
  margin-bottom: 1rem;
}

#bottom-line {
  align-items: center;
  background: #213a8f;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  height: 5vh;
}

#bottom-line a {
  color: white;
}

@media (max-width: 1024px) {
  main,
  footer,
  #bottom-line {
    padding: 0 5rem;
  }

  nav ul {
    width: 70%;
  }

  #duration {
    margin-top: 3rem;
  }

  #sponser-logo {
    margin-bottom: 3rem;
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  main,
  footer,
  #bottom-line {
    padding: 0 3rem;
  }

  nav ul {
    width: 80%;
  }

  footer {
    padding: 3rem;
  }

  footer > img {
    margin: auto 0;
    margin-right: 3rem;
  }

  footer > div {
    margin-right: 1rem;
  }
}

@media (max-width: 425px) {
  main,
  footer,
  #bottom-line {
    padding: 0 1rem;
  }

  .mobile {
    display: block;
  }

  nav .mobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav .mobile img {
    padding-left: 1rem;
    max-width: 2rem;
  }

  nav .mobile .hamburger {
    padding-right: 1rem;
  }

  nav > ul,
  nav > div {
    display: none;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
  }

  .hamburger .bar1,
  .hamburger .bar2,
  .hamburger .bar3 {
    width: 2rem;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .hamburger.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger.change .bar2 {
    opacity: 0;
  }

  .hamburger.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: block;
    background: white;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    padding: 1rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-menu li {
    flex: 1;
    flex-basis: 100%;
  }

  .mobile ul li {
    text-align: left;
  }

  #hero-background img {
    height: 25rem;
    width: 10%;
  }

  #duration h1 {
    font-size: 1.8rem;
  }

  #btnRegister {
    min-width: 100%;
  }

  #description {
    padding: 0;
  }

  #description h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #sponser-banner {
    flex-wrap: wrap;
  }

  #sponser-logo {
    flex-wrap: wrap;
  }

  #sponser-logo a {
    flex-basis: 33.33%;
  }

  footer {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  footer div {
    flex-basis: 100%;
  }

  footer #footer-logo {
    width: 50%;
  }

  footer img {
    display: block;
    height: auto;
  }

  #bottom-line {
    flex-wrap: wrap;
    height: 20vh;
    padding: 1rem;
  }

  #bottom-line a,
  #bottom-line p {
    flex: 1;
    flex-basis: 100%;
    padding: 1rem;
  }
}

/* Loading Spinner */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #111;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
